---
const { brand } = Astro.props;
---
<div class="m-hero">
  <div style="font-weight: bold;font-size: 26px;">{brand.name}</div>
  <p>{brand.subtitle}</p>
  <div class="signup" style="justify-content:center;">
    <a class="btn" href={`tel:${brand.phone}`} aria-label={`Call Now ${brand.phone}`}>
      Call Now {brand.phone}
    </a>
  </div>
</div>
